<h1>Request#new</h1>
<p>Find me in app/views/request/new.html.erb</p>

<%= @http_host%><br>
<%= @date%><br>
<%= @remote_ip%><br>
<%= @request_method%><br>
<%= @scheme%><br>
<%= @query_string%><br>
<%= @query_params%><br>
<%= @cookies%><br>
<%= @headers%><br>
<h2>total env inspect</h2>
<%= @request%>
